#sponsor-modal {
    background-color: #e9ebee;
    border-radius: 20px;
    border: 0.8rem solid #3076b4;
    max-width: 650px;
    min-height: 670px;
    margin: 0px auto;
    margin-top: -35px;
    padding: 30px;
    position: relative;
    color: #131313;
 }