.quick-start-card {
  width: 100%;
}
.active {
  background-color: #f5b219;
  border-radius: 6.5px;
  border: solid 1px rgba(230, 187, 140, 0.88);
}

ul {
  padding: 5%;
}

.quick-start-title {
  margin-left: 1.7rem;
}

.quick-start-context {
  font-size: 19px;
}
