.Box {
  width: 100%;

  border: 0.5px solid rgb(21, 67, 136);
  /*box-shadow: 1px 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  border-radius: 5px;
  margin-bottom: 0.5rem;
}
.Inside {
  padding: 0.5rem;
}
.roww {
  margin: auto;
}
.column {
  margin: auto;
}
