.proposals {
    height: 1200px;
}

#apply-btn {
    cursor: pointer;
    margin-left: 10px;
    border-radius: 50px 50px 50px 50px;
}

#save-btn {
    cursor: pointer;
    margin-left: 10px;
    border-radius: 50px 50px 50px 50px;
}