.jumbotron {
  padding-top: 6.5rem;
}

.main-head {
  display: flex;
  align-items: center;
  background-image: url("../../../images/ai-close-up-code-160107.jpg");
  height: 100%;
  background-size: cover;
}

.main-content {
  color: white;
}

.main-content h1 {
  font-size: 4.5rem;
  color: #F5B219;

}

.main-content h2 {
  font-size: 38px;
  color: white;
}

.text-wrapper {
  margin-top: 60px;
}

.main-content p {
  margin-top: 60px;
}

a:hover {
  text-decoration: none;
  color: #F5B219;
}

a {
  margin-left: 20px;
}